{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<div class="card">
    <div class="card-body">
        <h4>EDITAR POSTAGEM</h4>
       <form action="/admin/postagem/edit" method="post">
        <input type="hidden" value="{{postagem._id}}" name="id">
        <label for="titulo">TITULO:</label>
        <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}" required>
        <label for="slug">SLUG:</label>
        <input type="text" name="slug" class="form-control" value="{{postagem.slug}}" required>
        <label for="descricao">DESCRIÇÃO:</label>
        <input type="text" name="descricao" class="form-control" value="{{postagem.descricao}}" required>
        <label for="conteudo">CONTEUDO:</label>
        <textarea name="conteudo" class="form-control">{{postagem.conteudo}}</textarea>
        <label for="categoria"></label>
        <select name="categoria" class="custom-select">
            <option value="{{_id}}">{{nome}}></option>
            {{#each categorias}}
            {{else}}
                <option value="0">NENHUMA CATEGORIA!</option>
            {{/each}}
        </select>
        <br>
        <button class="btn btn-success mt-4" type="submit">EDITAR POSTAGEM</button>
       </form>
    </div>
</div>
{{else}}
    <h4 class="mt-3">NENHUMA CATEGORIA REGISTRADA!</h4>
{{/each}}